.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  width: 100%;
}

.right {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fff337;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  left: 90%;
}

.right:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  height: 2px;
  width: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.right:after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #121212;
  height: 2px;
  width: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.__active {
  background-color: #f7f7f7;
}

.__active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2px;
  width: 20px;
}

.__active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 2px;
  width: 20px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: white; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay_content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: left; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  width: fit-content;
  padding: 8px;
  text-decoration: none;
  font-size: 42px;
  color: #000;
  cursor: pointer;
  display: block; /* Display block instead of inline */
  transition: 0.3s;
  font-family: "ITCAvantGardeStdBold";
  position: relative;
  /* Transition effects on hover (color) */
}

.overlay a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2.5%;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 35%;
  width: 105%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fff337),
    to(#fff337)
  );
  background: -webkit-linear-gradient(left, #fff337 0, #fff337 100%);
  background: -moz-linear-gradient(left, #fff337 0, #fff337 100%);
  background: -o-linear-gradient(left, #fff337 0, #fff337 100%);
  background: linear-gradient(to right, #fff337 0, #fff337 100%);
  background-repeat: no-repeat;
  -webkit-background-size: 0 100%;
  -moz-background-size: 0 100%;
  background-size: 0 100%;
  opacity: 1;
  will-change: transform, opacity;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover:before,
.overlay a:focus {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    padding: 30px 40px;
  }
  .root > img {
    width: 80px;
  }
  #btn {
    width: 60px;
    height: 60px;
  }
  #btn span {
    width: 35px;
  }
}

@media only screen and (max-width: 425px) {
  .root > img {
    width: 70px;
  }
  .right img {
    width: 40px;
  }
}
