.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  width: 100%;
}

.right {
  width: 68px;
  height: 68px;
  background-color: #fff337;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
