.workCard {
  position: relative;
}

.workCard:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 40px;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
