.root {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;
}

.button {
  background-color: #fff337 !important;
}

@media only screen and (max-width: 425px) {
  .contact_details {
    display: block !important;
  }
  .footerInfo {
    padding-top: 40px;
  }
}
